@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap');

h1{
  font-family: 'Noto Sans JP', sans-serif;
  background-color: var(--color-orange);
}

/* @media only screen and (max-width: 500px){
  .menu, .main, .right{
    width: 100%;
  }
}

@media only screen and (max-width: 800px){
  .main{
    width: 80%;
    padding: 0;
  }
  .right{
    width: 100%;
  }
} */

:root{
  --color-orange: #F59E0B;
  --color-green: #1f970f;
  --color-black: black;
  --color-darkgreen: #206d16;
}

#txtInput{
  display: block;
  border: 2px solid;
  border-color: var(--color-orange);
  border-radius: 1rem;
  width: 75%;
  height: 10vh;
  padding: 1rem 1rem;
  margin: 2rem;
}

button{
  margin-left: 3rem;
  background-color: var(--color-green);
  border-bottom-right-radius: 0.5rem;
  color: var(--color-black);
  padding: 0.5rem 1rem;
  box-shadow: 0 12px 16px 0 rgb(72, 131, 77), 0 17px 50px 0 rgb(0, 0, 0);
}

button:hover{
  background-color: var(--color-darkgreen)
}

#outputNotice{
  margin-top: 2rem;
  margin-left: 2rem;
  background-color: var(--color-orange);
  color: var(--color-black);
  font-size: larger;
  font-style: italic;
}

#inputNotice{
  margin-top: 2rem;
  margin-left: 2rem;
  color: var(--color-black);
  background-color: var(--color-orange);
  font-size: larger;
  font-style: italic;
}

#output{
  display: block;
  height: 10vh;
  border: 2px solid;
  width: 50%;
  border-radius: 0.5rem; 
  margin: 2rem;
  border-color: var(--color-orange);
  padding: 0.5rem 1rem;
  color: var(--color-black);
}

body{
  /* background-image: url("minion-background.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 550px;
  max-width: 100%; */
  background-color: rgb(182, 170, 170);

}

h1{
  color: var(--color-black);
}

ul{
  list-style-type: none;
  margin-top: 0rem;
  display: inline-block;
}

ul li{
  padding-bottom: 1rem;
  padding-right: 1rem;
  display: inline-block;
}